* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}
nav {
  background-color: black;
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
